* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #31ab6c;
}

.container {
    max-width: 900px;
    margin: auto;
}


.page-wrapper {
    position: relative;
}

img {
    display: block;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--title-color);
}