* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #5eb1e9;
    --subtitle-color: #31ab6c;
}

.container {
    max-width: 900px;
    margin: auto;
}


.page-wrapper {
    position: relative;
}

img {
    display: block;
    width: 100%;
}

h1 {
    width: 180px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--title-color);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--subtitle-color);
}